<!DOCTYPE html>
<html>
  <head>
    <title>Final Price</title>
  </head>
  
  <body>
      <p>Mail Type: <%if (typeofmail == "lettersstamped") {%>
        <%= "Letters (Stamped)" %>
        <%} else if (typeofmail == "lettersmetered") {%>
        <%= "Letters (Metered)" %>
        <%} else if (typeofmail == "largeenvelopes") {%>
        <%= "Large Envelopes (Flats)" %>
        <%} else {%>
        <%= "First Class Package Service - Retail" %>
        <%}%></p>
      <p>Weight: <%= weight %></p>
      <p>Total Cost: <%= cost %></p>
  </body>
</html>